body {background:#fff url(../img/background.gif) repeat-x; margin:0; padding:0; border:0; text-align:center; font-size:76%; font-family: arial, sans-serif;}
#header {height:90px;}
#header h1 {width:333px; height:0; padding:100px 0 0 0; overflow:hidden; background:url(../img/logo.png) no-repeat; margin:0; float:left;}
h2 {padding:0; margin:20px 0 10px 0; font-size:18px; font-weight:normal;}
h5 {font-size:15px;}
p {padding:0; margin:5px 0; line-height:18px; font-size:12px;}
#content {clear:both; width:100%; font-family:arial, sans-serif; font-size:12px;}
#content h2 {color:#c40; font-size:20px;}

.leftCol {width:600px; float:left; padding-bottom:30px;}
.rightCol {width:300px; float:right; border-top:4px solid #f07700; font-family:arial, sans-serif; font-size:11px;}

.rightCol ul {padding:0; margin:0; list-style:none;}
.rightCol ul li {width:270px; padding: 0 0 0 30px; background:url(site.gif) no-repeat 10px center; margin-bottom:5px;}
.rightCol ul li a {color:#00d; font-size:12px;}

#footerTop {background:#55555f url(../img/footline.gif) repeat-x left top; text-align:left;}
#footerBottom {background:#44444f; text-align:left; margin-bottom:50px; font-size:11px; border-top:1px solid #fff;}
#footerBottom a, #footerBottom a:visited {color:#ddd;}
#footerT {clear:both; width:1000px; margin:0 auto; color:#bbb; }
#footerB {width:1000px; margin:0 auto; color:#ddd; }
.inner {padding:10px;text-align: center;}
.medium {font-size:11px;}
.small {font-size:10px;}
ol li {line-height:2em; font-size:14px;}
.clear {clear:both; height:0; overflow:hidden;}

#menulist {padding:0; margin:0; list-style:none;}
#menulist li.left {float:left; margin-right:15px; padding:5px; border:3px solid #eee; margin-bottom:10px;}
#menulist li.right {float:right; padding:5px; border:3px solid #eee; margin-bottom:10px;}
#menulist li.current {border-color:#e60;}

#menulist li a img {border:0; display:block;}
#menulist li a {text-decoration:none; color:#000;}
#menulist li a:hover b {text-decoration:underline;}

.download {list-style-image: url(../img/li.gif);}
.download li a {color:#bbb; text-decoration:none; line-height:18px;}
.download li a:hover {color:#fff;}


.downloads {width:140px; float:left; margin-right:5px; display:inline;}
.black {color:#eee; border-bottom:1px solid #777;}

img.feed {display:block; padding-right:20px; float:left;}
a.rss {font-size:14px; color:#c40;}
a.rss:hover {text-decoration:none;}

img.preload {position:absolute; left:-9999px; top:0;}

#semiFixed {width:300px;}
#boxHead {height:27px; background:url(../img/top.gif); margin:0; padding:0 0 0 10px; color:#fff; font-size:12px; line-height:25px; font-family:arial, sans-serif;}
#containerBody {background:url(../img/bottom.gif) left bottom; padding:10px 40px; color:#666; font-family:arial, sans-serif;}
#containerBody img {display:block; border:0;}

#exchange {width:282px; padding:0 1px 5px 17px; background:#77777f;}
#exchange a {border:0; text-decoration:none;}
#exchange img {display:block; width:125px; height:125px; float:left; margin:5px 16px 0 0; display:inline; border:0;}

#smallBanner {width:468px; height:60px; background:#fff; padding: 10px 56px;}